       <div class="footer" text-center header>
            <div class="row" >
                <div class="col-md-4 d-none d-md-block">
                    <div class="text-white">
                        <center><a class="text-white" href="https://t000bcaed.emailsys1a.net/190/4891/06f6652be4/subscribe/form.html">Newsletter-Anmeldung</a></center>
                    </div>
                </div>
                <div class="col-md-4 d-none d-md-block">
                    <div class="text-white">
                        <center>(V0.9) Verbesserungsvorschläge an: <a href="mailto:norbert.krings@t-online.de" class="text-white"> Norbert Krings</a></center>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-white">
                        <center><a class="text-white" href="{% url 'songarchiv:impressum'%}">Impressum</a> / <a class="text-white" href="{% url 'songarchiv:datenschutz'%}">Datenschutzerklärung</a></center>
                    </div>
                </div>
            </div>
       </div>
