{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{% url 'songarchiv:index' %}" class="navbar-brand">Song suchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav">
            <li class="nav-item active">
            </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout'%}"><i class="fa fa-sign-out" style="font-size:24px"></i> Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login'%}"><i class="fa fa-sign-in" style="font-size:24px"></i> Login</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block content %}
<content>
    <form method="POST" enctype="multipart/form-data" action="">
    <p></p>
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Songtext erfassen:</h4>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.text_text.id_for_label }}" class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
                {{ form.text_text }}
                <div class="text-danger">{{ form.text_text.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.text_standard_german.id_for_label }}" class="col-sm-2 control-label">Text in Hoch-Deutsch:</label>
            <div class="col-sm-10">
                {{ form.text_standard_german }}
                <div class="text-danger">{{ form.text_standard_german.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.text_chordpro.id_for_label }}" class="col-sm-2 control-label">Text im Chordpro Format:</label>
            <div class="col-sm-10">
                {{ form.text_chordpro }}
                <div class="text-danger">{{ form.text_chordpro.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.text_chords.id_for_label }}" class="col-sm-2 control-label">Text mit Akkorden:</label>
            <div class="col-sm-10">
                {{ form.text_chords }}
                <div class="text-danger">{{ form.text_chords.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.text_nashville.id_for_label }}" class="col-sm-2 control-label">Text mit Akkorden im Nashville Style:</label>
            <div class="col-sm-10">
                {{ form.text_nashville }}
                <div class="text-danger">{{ form.text_nashville.errors }}</div>
            </div>
        </div>
        <input type="hidden" id="id_song" name="song" value="{{ form.song.value }}">
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10 text-right">
                <button type="submit" class="btn btn-dark btn-sm">Speichern</button>
            </div>
        </div>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</content>

{% endblock %}
