{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{% url 'songarchiv:index' %}" class="navbar-brand">Song suchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'songarchiv:album' %}">Alben</a>
            </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'songarchiv:add_song' %}">Song erfassen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'songarchiv:add_album' %}">Album erfassen</a>
            </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout'%}"><i class="fa fa-sign-out" style="font-size:24px"></i> Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login'%}"><i class="fa fa-sign-in" style="font-size:24px"></i> Login</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<content>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-8">
          <h4>Das Passwort wurde erfolgreich geändert!</h4>
          <div class="text-dark"> <a href="{% url 'login' %}">zum Login ...</a></p></div>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    </div>
</content>
{% endblock %}

