
.header {
  background-color: #ffffff;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #343a40;
  text-align: center;
}

.inline {
    display: inline;
}

@media screen and (min-width: 1024px){
    .bg-class {
      background-image: url('/static/songarchiv/images/20200528_bheuserbonn_artist_0064.jpg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center 1%;
      padding: 50px;
    }
}

@media screen and (max-width: 1023px){
    .bg-class {
      background-image: url('/static/songarchiv/images/20200528_bheuserbonn_artist_0064.jpg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center 1%;
      padding: 50px;
    }
}
