@page {
    size: A4;
    margin: 1.0cm 1.5cm 1.5cm 1.5cm;

    @bottom-center {
        font-size: 12px;
        content: "\A songarchiv.heuser-koeln.de";
        white-space: pre;
    }

    @bottom-right {
        font-size: 12px;
        content: "\A " counter(page) " von " counter(pages);
        white-space: pre-wrap;
    }

    @bottom-left {
        font-size: 12px;
        content: "—————————————————————————————————————————————————————————— \A Björn Heuser Songarchiv";
        white-space: pre-wrap;
    }
}

body {
    font-family: Helvetica;
    font-size: 10pt;
}

#song_title {
    position: absolute;
    font-size: 18pt;
    font-weight: bold;
    text-decoration-style: solid;
    left: 50%;
    transform: translate(-50%, 0);
    top: -0.5cm;
}

#song_music_lyrics_publisher {
    position: relative;
    font-size: 10pt;
    font-weight: bold;
    top: 0.0cm;
    text-align: center;
}

#top_line {
    position: absolute;
    font-size: 12pt;
    left: 0cm;
    top: 0.4cm;
}

