<div id="CookielawBanner">
    <div class="container">
        <h6>Cookie Warnung</h6>
        <p>
            <a class="btn btn-dark pull-right" href="javascript:Cookielaw.createCookielawCookie();">Akzeptieren</a>
            Für statistische Zwecke und um bestmögliche Funktionalität zu bieten, speichert diese Website Cookies auf Ihrem Gerät. Das Speichern von Cookies kann in den Browser-Einstellungen deaktiviert werden. Wenn Sie die Website weiter nutzen, stimmen Sie der Verwendung von Cookies zu.
        </p>
    </div>
</div>